/*Universal Selector*/
*,
*::before,
* ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Home Page Styling*/

body{
    display: grid;
    grid-template-rows: auto minmax(100%, 100vh) auto;
}

 #logo{
    width: 15%;
    height: 15%;
 }

 .navbar {
    background-color: rgba(234, 182, 118, 1) !important;
 }

 .nav-item{
    font-size: 20px;
    font-weight: 15px;
    padding: 20px;
 }

 footer{
    background-color: rgba(234, 182, 118, 1);
    font-weight: 15px;
    
 }

 .h1{
    font-size: 80px;
    color: rgba(234, 182, 118, 1);
    display: flex;
    justify-content: center;
    margin-top: 30px;
 }

 .featured-books{
    display: flex;
    justify-content: center;
 }
/* 
#featured-books {
    border: 1px solid red;
    display: flex;
    justify-content: ;
 } */

 .container-fluid img{
    width: 350px;
    height: 400px;
 }

 .h2{
    font-size: 50px;
    color: rgba(234, 182, 118, 1);
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
 }

 /*ABOUT PAGE STYLING*/


 
 #span {
    color: rgba(234, 182, 118, 1);
    font-size: 40px;

 }
 
 #about-us p{
    font-size: 20px;
    padding: 30px;
 }
