/*Universal Selector*/
*,
*::before,
* ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Home Page Styling*/

body{
    display: grid;
    grid-template-rows: auto minmax(100%, 100vh) auto;
}

 #logo{
    width: 15%;
    height: 15%;
 }

 .navbar {
    background-color: rgba(234, 182, 118, 1) !important;
 }

 .nav-item{
    font-size: 20px;
    font-weight: 15px;
    padding: 20px;
 }

 footer{
    background-color: rgba(234, 182, 118, 1);
    font-weight: 15px;
    
 }